/* CSS for most smart phone screens (in portrait mode; i.e. - iPhone X, iPhone 6/7/8 + Plus, Galaxy S5, Pixel 2, Pixel 2 XL, etc.); with screen widths of 320px - 480px */
@media (min-width: 320px) and (max-width: 480px) {

  * {
    box-sizing: border-box;
  }

  .flex-container {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
    justify-content: center;
  }

  .flex-column {
    flex-direction: column;
    align-items: center;
  }

  body {

  }

  header {

  }

  h1 {
    color: red;
  }

  #main-doc {

  }

  section {

  }

  footer {

  }

}



/* CSS for: most smart phone screens (in landscape mode; i.e. - iPhone 5/SE, iPhone 6/7/8 + Plus, Galaxy S5, Pixel 2, etc.) and low resolution tablet screens; with screen widths of 481px - 767px */
@media (min-width: 481px) and (max-width: 767px) {

  h1 {
    color: orange;
  }

}



/* CSS for: most standard tablet screens (in portrait/landscape mode), standard iPad screens (in portrait/landscape mode), iPad Pro screens (in portrait mode), and iPhone X/Pixel 2 XL screens (in landscape mode); with screen widths of 768px - 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

  h1 {
    color: yellow;
  }

}



/* CSS for: most standard laptop screens and standard desktop screens; with screen widths of 1025px - 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {

  h1 {
    color: green;
  }

}



/* CSS for: high resolution desktop screens and iPad Pro screens (in landscape mode); with widths of >1281px */
@media (min-width: 1281px) {

  h1 {
    color: blue;
  }

}
